@charset "utf-8";
/* Global Styles */

body {
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2.275%;
	padding-right: 2.275%;
	background-color: #111;
}
/* Header */
header {
	width: 100%;
	text-align: center;
	display: block;
}
header .topLogo{
	text-align: center;
}
header .topLogo img {
	width: 100%;
	max-width: 600px;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	color: #A4A4A4;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	color: #828282;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}
hr {
	background-color: #828282;
	height: 1px;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1F1F1F;
	text-align: center;
}
ul.topnav li {
	display: inline-block;
}
ul.topnav li a, .showmenu a {
	display: block;
    color: #B7B7B7;
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
    transition: 0.15s;
    font-size: 14px;
	font-family: 'Montserrat', sans-serif;
}
ul.topnav a.active {
	color: #DDDDDD;
}
ul.topnav li a:hover {
	background-color: #333;
}
.showmenu {
	display: none;
}
section{
	margin-bottom: 60px;
}
.columns {
	width: 49%;
	display: inline-block;
	margin-bottom: 20px;
	margin-right: 2px;
	vertical-align: top;
}
/* Main Content sections */
.sectionContent {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
}
.section1 img {
	padding-right: 12px;
	padding-bottom: 12px;
}
.section1 a:hover {
	opacity: 0.6;
	cursor: pointer;
	transition: all 0.1s linear;
}
.section2 {
	width: 100%;
	overflow: hidden;
}
.section2 ul {
	display: block;
	list-style-type: none;
	text-align: center;
	float: left;
	margin-left: 0;
	margin-top: 20px;
	padding: 0;
}
.section2 ul li {
	width: 200px;
	padding-bottom: 20px;
}
.section2 ul li a {
	width: 100%;
	display: block;
	margin: 0px;
	padding: 12px 4px;
	text-decoration: none;
	background-color: #1F1F1F;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: #B7B7B7;
}
.section2 ul li a:hover {
	background-color: #333;
	transition: all 0.1s linear;
}
.section3 ul {
	display: block;
	list-style-type: none;
	padding-left: 0;
}
.section3 ul li {
	color: #828282;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding-bottom: 20px;
}
.section3 ul li a {
	text-decoration: none;
	color: #828282;
}
.section3 ul li a:hover {
	color: rgba(104,103,103,1.00);
	cursor: pointer;
	transition: all 0.1s linear;
}
.section3 ul.list {
	list-style-type: square;
	padding-left: 17px;
}
.section3 ul.list li {
	padding-bottom: 8px;
	color: #A4A4A4;
}
.section3 ul li span {
	color: #A4A4A4;
}
.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}
.mainContent {
	display: block;
}
/* Footer */
footer .footerDisclaimer {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(104,103,103,1.00);
	font-weight: 700;
}
footer .footerDisclaimer span {
	color: rgba(181,178,178,1.00);
	font-weight: 400;
}
footer .footerNote {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(104,103,103,1.00);
	font-weight: 700;
}
footer .footerNote a {
	color: rgba(181,178,178,1.00);
	font-weight: 400;
	text-decoration: none;
}
footer .footerNote a:hover {
	color: rgba(104,103,103,1.00);
	cursor: pointer;
}
.hidden {
	display: none;
}
/********************* Media query for Mobile devices***********************/
@media only screen and (min-width : 285px) and (max-width : 480px) {
/* Header */
header {
	width: 100%;
	float: none;
}
header .topLogo .logoPlaceholder {
	display: inline-block;
}
.showmenu {
	display: block;
}
ul.topnav li a, .showmenu a {
    padding: 12px 16px;
}	
ul.topnav li:not(:first-child) {
	display: none;
}
ul.topnav.responsive {
	position: relative;
}
ul.topnav.responsive li {
    float: none;
    display: inline;
}
ul.topnav.responsive li a {
    display: block;
    text-align: center;
}	
h1{
	text-align: center;	
}
.columns {
	width: 100%;
	text-align: center;
}
.section1 img {
	padding: 0 12px 12px 12px;
}	
.section2 {
	text-align: center;
}
.section2 ul {
	float: none;
}	
.section2 ul li {
	margin: 0 auto;
}
.section3 {
	text-align: center;
	width: 100%;
}
.section3 ul.list {
	list-style-type: none;
	padding-left: 0;
}	
/* Footer */
footer {
	display: block;
	text-align: center;
	font-family: sans-serif;
}
}

/************************ Media Query for Tablets *************************/
@media only screen and (min-width : 481px) and (max-width : 1024px) {
header .topLogo .logoPlaceholder {
	margin-bottom: 50px;
	text-align: center;
	display: inline-block;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: sans-serif;
}
}

/***************** Desktops and laptops  ***************/
@media only screen and (min-width:1025px) {
/* Header */
header .topLogo .logoPlaceholder {
	margin-bottom: 50px;
	text-align: center;
	display: inline-block;
}
ul.topnav li a, .showmenu a {
    padding: 16px 26px;
}	
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: sans-serif;
}
}
